.slider {
    margin: 30px 0;
    background-color: #a82d49;
    border: 1px solid #a82d49;
    height: auto;
    width: 100%;
    padding: 75px 0;
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 2;
}

.slider h1 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 45px;
}

.slider .carousel {
    padding: 60px 0;
    background-color: #fff;
    height: auto;
    border-radius: 16px;
}

.slider img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 150px;
    
}

.slider .carousel-caption {
    margin: -50px 0;
    font-size: 19px;
    z-index: 2;
}

.slider .carousel-caption p{
   color: #111;
   width: 90%;

}

.slider .carousel-caption h3 {
    color: #a82d49;
    font-weight: bold;
    z-index: 2;

}

.slider [type=button] {
    transform: translateY(47px);
    background-color: #fff;
    width: 20px;
    height: 20px;
    margin-top: 30px;
    margin: 0px 6px;
    border-radius: 50%;
    border: 1px solid #fff;
    opacity: 0.4;
}

@media screen and (max-width: 480px) {
    .slider .carousel-caption p{
        display: none;
     }
     
}

